

.title-main {
    color: darkblue;
    text-align: center;
font-size: 36px;
}
.title-section {
    color: green;
    font-size: 28px;
}.section-title{
    color: red;
}
.list-item {
    font-family: sans-serif;
    font-size: 18px;
color: darkblue;}

	.text_title{
		font-family: sans-serif;
    font-size: 20px;
    color: green;
	}

body {
  background-color: lightgrey;
  color: blue;
}